@tailwind base;
@layer base {
  .btn,
  .btn-no-shape {
    @apply btn-shape font-heading  inline-flex h-10 items-center justify-center after:bg-[linear-gradient(110deg,var(--primary-color),35%,rgba(255,255,255,0.5),65%,var(--primary-color))] after:bg-[length:200%_100%] after:animate-shimmer px-6 font-medium text-white transition-colors focus:outline-none bg-primary whitespace-nowrap max-sm:text-sm disabled:bg-gray-500 disabled:after:bg-none disabled:after:animate-none;
  }

  .screen-wrapper {
    @apply max-w-screen-lg mx-auto max-lg:px-5 max-sm:w-full;
  }
  body {
    @apply text-lg dark:text-white;
  }
  .chip {
    @apply bg-primary btn-shape shape-sm text-white text-xs w-fit px-4 py-1 whitespace-nowrap capitalize;
  }
}

@font-face {
  font-family: "TitilliumWeb";
  src: url("/fonts/TitilliumWeb-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "michroma";
  src: url("/fonts/Michroma-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:global(.dark) {
  color-scheme: dark;
}

:root {
  --primary-color: rgb(37, 99, 235);
  --shape-size: 10px;
  --bottom-shape: polygon(
    var(--shape-size) 0,
    100% 0,
    100% calc(100% - var(--shape-size)),
    calc(100% - var(--shape-size)) 100%,
    0 100%,
    0 var(--shape-size)
  );
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

/**Michroma*/
body {
  padding: 0;
  margin: 0;
  font-family: TitilliumWeb, sans-serif;
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: color-mix(in srgb, var(--primary-color) 20%, white);
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-shape {
  position: relative;
  clip-path: polygon(
    var(--shape-size) 0,
    100% 0,
    100% calc(100% - var(--shape-size)),
    calc(100% - var(--shape-size)) 100%,
    0 100%,
    0 var(--shape-size)
  );
}

.shape,
.shape-sm {
  clip-path: polygon(
    var(--shape-size) 0,
    100% 0,
    100% calc(100% - var(--shape-size)),
    calc(100% - var(--shape-size)) 100%,
    0 100%,
    0 var(--shape-size)
  );
}
.shape-sm {
  --shape-size: 5px;
}
.btn-shape::after {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.btn-no-shape {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

img[alt="screen"] {
  height: 400px;
  object-fit: cover;
  width: auto;
}
